In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
salaries_df = pd.read_csv("salaries.csv")
salaries_df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
x = salaries_df[["company","job","degree"]]
x.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [4]:
y = salaries_df["salary_more_then_100k"]
y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [5]:
le = LabelEncoder()
dt = DecisionTreeClassifier()

In [10]:
x.company = le.fit_transform(x.company)
x.job = le.fit_transform(x.job)
x.degree = le.fit_transform(x.degree)
x.head()

C:\Users\OWNER1\AppData\Local\Temp\ipykernel_2732\3398281663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.company = le.fit_transform(x.company)
C:\Users\OWNER1\AppData\Local\Temp\ipykernel_2732\3398281663.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.job = le.fit_transform(x.job)
C:\Users\OWNER1\AppData\Local\Temp\ipykernel_2732\3398281663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.degree = le.fit_transform(x.degree)

   company  job  degree
0        2    2       0
1        2    2       1
2        2    0       0
3        2    0       1
4        2    1       0

In [13]:
 X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [14]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(12, 3)
(12,)
(4, 3)
(4,)

In [19]:
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [20]:
dt.score(X_test,y_test)

0.75

In [21]:
dt.predict(X_test)

array([0, 0, 0, 1], dtype=int64)

In [22]:
X_test

    company  job  degree
0         2    2       0
1         2    2       1
5         2    1       1
14        1    1       0