In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\OWNER1\Desktop\Nenchin\WORKS\Python\py-master\ML\14_naive_bayes\spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.groupby("Category").describe().T

Category                           ham  \
Message count                     4825
        unique                    4516
        top     Sorry, I'll call later
        freq                        30

Category                                                     spam
Message count                                                 747
        unique                                                641
        top     Please call our customer service representativ...
        freq                                                    4

In [4]:
df["spam"] = df["Category"].apply(lambda x: 1 if x=="spam" else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.25)

In [6]:
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

(4179,) (4179,) (1393,) (1393,)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
countV = CountVectorizer()

In [8]:
X_train_count = countV.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [9]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()

In [10]:
mnb.fit(X_train_count,y_train)

MultinomialNB()

In [11]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = countV.transform(emails)
mnb.predict(emails_count)

array([0, 1], dtype=int64)

In [12]:
X_test_count=countV.transform(X_test)

In [13]:
mnb.score(X_test_count,y_test)

0.9856424982053122

# Using Pipeline

In [15]:
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ('vect', CountVectorizer()),
    ('mnb', MultinomialNB())
])

In [16]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('vect', CountVectorizer()), ('mnb', MultinomialNB())])

In [17]:
pipeline.score(X_test,y_test)

0.9856424982053122

In [18]:
pipeline.predict(emails)

array([0, 1], dtype=int64)